extends include/_base

block data
  - rootPath = './'
  - pageTitle = 'Top page'
  - colClass = 'col1'
  - header = 'false'
  - contentSide = 'false'
  - footer_multi = 'false'
  - footer = 'false'
  - appNameTxt = ' logo title'
  - 

block body

  +titleH2('medi-style pages')
  .item-list
    +titleH3('画面一覧')
    +confirmSection('top', rootPath + 'contents/index.html', 'linkOption')
    +confirmSection('詳細', rootPath + 'contents/detail.html', 'linkOption')

block script
