:root {
  --bg-color: #f4f4f4;
  --ui-bg-color: #fff;
  --ui-row-bg-color: #fafafa;
  --txt-color: #666;
  --txt-light-color: #fff;
  --hint-color: #aaa;
  --link-color: #29a2ea;
  --input-color: #fff;
  --input-shadow: rgba(0,0,0,0.1);
  --input-content-color: #000;
  --input-placeholder-color: #ccc;
  --select-color: #2869dc;
  --success-color: #4fce8c;
  --success-light-color: #deffeb;
  --danger-color: #e54e87;
  --danger-light-color: #ffdeeb;
  --info-light-color: #fffff4;
  --active-color: rgba(226,240,255,0.5);
  --border-color: #dadada;
  --border-light-color: #e2e2e2;
  --disabled-light-color: #dadada;
  --disabled-color: #555;
  --disabled-bg-color: #f2f2f2;
  --disabled-border-color: #e9e9e9;
  --detail-head-bg-color: #e9e9e9;
  --datetime-outside-txt-color: #bbb;
  --datetime-now-bg-color: #eee;
  --tabbar-bg-color: #e9e9e9;
  --table-header-bg-color: #666;
  --table-header-sort-bg-color: #777;
  --table-row-bg-color: #fafafa;
  --table-row-even-bg-color: #e9e9e9;
  --textbox-focus-bg-color: #feffdd;
  --footer-bg-color: #666;
  --footer-border-color: #888;
  --movie-bg-color: #262626;
  --social-facebook-color: #3b5998;
  --social-google-color: #dd4b39;
  --hover-color: #d6e9f4;
  --hover-picker-color: #f0f7ff;
  --tapOver-color: rgba(0,0,0,0.1);
  --tapSortOver-color: #4f4f4f;
  --reset-color: rgba(0,0,0,0);
  --overlay-light-color: rgba(0,0,0,0.8);
  --overlay-color: rgba(13,16,20,0.8);
  --shadow: rgba(0,0,0,0.1);
  --box-shadow: rgba(0,0,0,0.175);
}
