// -------------------
// media style
// only for style.css
// -------------------

// under 800px
+breakpoint(tb-max)
  #modal
    width calc(100% - 8px)
  .content-body
    padding 8px 0px 20px 0px
  .form-section
    display block
    .area-head
      width auto
      padding 8px
      min-height auto
  .section-nav
    background var(--tabbar-bg-color)
    margin-left -8px
    margin-top 0
    border-bottom 1px solid var(--border-color)
    margin-bottom 8px
    width calc(100% + 8px)
    box-sizing border-box
    ul
      padding 8px 8px 0 8px
  .layout-col2
    .title-h2
      width calc(100% + 16px)
      margin-left -8px
      margin-top -8px
      margin-bottom 8px

  .input-txt--size-s
    width 100%
  .input-txt--size-m
    width 100%
  .input-txt--size-l
    max-width 100%