:root {
--bg-color: #F4F4F4;
--ui-bg-color: #FFFFFF;
--ui-row-bg-color: #FAFAFA;
--txt-color: #666666;
--txt-light-color: #FFFFFF;
--hint-color: #AAAAAA;
--link-color: #29A2EA;
--input-color: #FFFFFF;
--input-shadow: rgba( 0, 0, 0, .1);
--input-content-color: #000000;
--input-placeholder-color: #CCCCCC;
--select-color: #2869DC;
--success-color: #4FCE8C;
--success-light-color: #DEFFEB;
--danger-color: #E54E87;
--danger-light-color: #FFDEEB;
--info-light-color: #FFFFF4;

--active-color: rgba(226,240,255,0.50);

--border-color: #DADADA;
--border-light-color: #E2E2E2;

--disabled-light-color: #DADADA;
--disabled-color: #555555;
--disabled-bg-color: #F2F2F2
--disabled-border-color: #E9E9E9;

--detail-head-bg-color: #E9E9E9;
--datetime-outside-txt-color: #BBBBBB;
--datetime-now-bg-color: #EEEEEE;
--tabbar-bg-color: #E9E9E9;
--table-header-bg-color: #666666;
--table-header-sort-bg-color: #777777;
--table-row-bg-color: #FAFAFA;
--table-row-even-bg-color: #E9E9E9;
--textbox-focus-bg-color: #FEFFDD;
--footer-bg-color: #666666;
--footer-border-color: #888888;

--movie-bg-color: #262626;
--social-facebook-color: #3B5998;
--social-google-color: #DD4B39;

--hover-color: #D6E9F4;
--hover-picker-color: #F0F7FF;

--tapOver-color: rgba(0, 0, 0, .1);
--tapSortOver-color: #4F4F4F;

--reset-color: rgba(0, 0, 0, 0);

--overlay-light-color: rgba(0, 0, 0, .8);
--overlay-color: rgba(13, 16, 20, .8);

--shadow: rgba(0, 0, 0, .1);
--box-shadow: rgba(0, 0, 0, .175);
}
